<!DOCTYPE html>
<html>
<head>
	<title>hello</title>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
  <div id="main">
    search<input type="text" name="search">
    <select v-model="area">
      <option value="kanto">カントー</option>
      <option value="johto">ジョウト</option>
      <option value="3">ホウエン</option>
      <option value="4">シンオウ</option>
      <option value="5">イッシュ</option>
    </select>
  	<ul>
      <pokemon-index
        v-for="pokemon in pokemons"
        v-bind:pokemon="pokemon.data"
        :key="pokemon.data.id"
      ></pokemon-index>
  	</ul>
  </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="./js/vue.js"></script>
<script src="./js/poke.js"></script>
</body>
</html>